@tailwind base;
@tailwind components;
@tailwind utilities;

.objectText {
    visibility: hidden;
    position: relative;
    top: -25px;
    font-size: large;
}
/*text is offset above the created object, displays on hover*/
.createdObject:hover p {
   visibility: visible;
}

.createdObject {
    position: absolute;
}